@import url('https://fonts.googleapis.com/css2?family=Modak&family=Plus+Jakarta+Sans&family=Poppins&family=Righteous&family=Roboto&display=swap');

:root {
  --main-color: #ffb9b936;
  --second-color: #cc5c5c;
  --bg-color: #FBECEC;
  --third-color: #993e3e;
  --fourth-color: #ffb9b9;

  --main-font: "Righteous", sans-serif;
  --second-font: "Roboto", sans-serif;
  --third-font: "Modak", sans-serif;
  --fourth-font: "Plus Jakarta Sans", sans-serif;
  --fifth-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
}

section {
  /* margin-top: 200px; */
  margin: 13rem 8rem;
}

.container {
  max-width: 1500px;
}

/* Navbar */
.navbar {
  background-color: var(--main-color);
}

.navbar .nav-wrapper {
  position: relative;
  margin: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-wrapper .logo {
  width: 101px;
  height: 103px;
  flex-shrink: 0;
}

.nav-wrapper .navbar-wrapper {
  display: flex;
  gap: 50px;
}

.nav-wrapper .nav-toggle {
  display: none;
}

.nav-wrapper .navbar-wrapper .nav-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.navbar-wrapper .nav-list .nav-link {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 20px;
  color: black;
}

.navbar-wrapper .nav-list .nav-link:hover {
  color: #ffffff;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
}

.navbar-wrapper .btn-contact {
  color: #ffffff;
  font-weight: 400;
  background-color: var(--second-color);
  padding: 10px 15px;
  border-radius: 15px;
  width: 145px;
  text-align: center;
}

.navbar-wrapper .btn-contact:hover {
  background-color: var(--third-color);
  transition: 0.5s ease-in-out;
}

/* home section */
#home {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.home-text {
  align-self: center;
}

.home-title,
.home-title2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.home-title2 {
  padding-left: 2rem;
}

.home-title span {
  color: var(--second-color);
}

.home-text p {
  font-family: var(--second-font);
  font-size: 1.7rem;
  width: 550px;
  margin-bottom: 2.5rem;
}

.btn-home {
  color: #ffffff;
  background-color: var(--second-color);
  border-radius: 20px;
  text-align: center;
  padding: 10px 40px 10px 40px;
  font-size: 1.2rem;
}

.img-box {
  position: relative;
  width: 500px;
}

.home-pic1 {
  display: flex;
  position: absolute;
  top: -40%;
  left: -32%;
}

.home-pic1 img {
  height: 340px;
  width: 340px;
  flex-shrink: 0;
}

.home-pic2 {
  display: flex;
  position: absolute;
  top: 23%;
  left: 7%;
  z-index: 1000;
}

.home-pic2 img {
  width: 300px;
  height: 250px;
  flex-shrink: 0;
}

.home-pic3 {
  display: flex;
  position: absolute;
  top: -50%;
  left: 31%;
}

.home-pic3 img {
  width: 340px;
  height: 400px;
  flex-shrink: 0;
}

/* menu section */
.menu-title,
.featured-title,
.shop-title {
  font-size: 2.5rem;
  text-align: center;
}

.menu-title span,
.why-title span,
.featured-title span,
.shop-title span,
.variants-title span,
.login-title span,
.about-title span,
.contact-title span,
.title-cart span {
  color: var(--second-color);
}

.box-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  margin: 6rem auto;
  width: 85%;
}

.menu-box {
  padding: 1.5rem;
  flex: 1;
  border: 0.1rem solid var(--fourth-color);
  background: var(--fourth-color);
  border-radius: 24px;
}

.menu-box:hover {
  cursor: pointer;
}

.menu-box p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--second-font);
}

.menu-box h1 {
  font-size: 20px;
  font-family: var(--second-font);
}

/* why section */
#why {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.why-detail {
  width: 500px;
}

.why-detail p {
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1.2rem 0;
}

.why-title {
  font-size: 2.5rem;
  line-height: 1.6;
}

.why-pic img {
  width: 500px;
  height: 624px;
  flex-shrink: 0;
}

.why-list {
  display: block;
  font-family: var(--second-font);
  margin-top: 3.5rem;
}

.list-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.text-list h1 {
  font-size: 1.5rem;
}

.text-list p {
  font-size: 1.2rem;
}

.list-content img {
  width: 95px;
  height: 90px;
  flex-shrink: 0;
}

/* featured section */
#featured {
  background: linear-gradient(180deg, #ffe8e8 0%, rgba(221, 160, 160, 0) 100%);
  margin: 0;
  padding: 2rem 0;
}

.featured-box {
  width: 320px;
  height: 380px;
  border: 0.1rem solid var(--fourth-color);
  box-shadow: 0px -12px 30px 0px rgba(0, 0, 0, 0.25);
  background: var(--fourth-color);
  border-radius: 38px;
}

.featured-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.featured-content img {
  object-fit: cover;
  flex-shrink: 0;
}

/* shop section */
.shop-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 5rem;
}

.shop-pic img {
  width: 534px;
  height: 491px;
}

.shop-box {
  border: 0.1rem solid white;
  border-radius: 33px;
  background: #fdf6f6;
  box-shadow: 0px 4px 4px 0px #ffb9b9;
  width: 429px;
  height: 368px;
}

.shop-text {
  font-family: var(--second-font);
}

.shop-text .location {
  font-size: 2.4rem;
  text-align: center;
  padding: 2rem 1.2rem;
}

.shop-text hr {
  margin-left: 20px;
  margin-right: 20px;
}

.shop-text .open {
  padding: 1rem 1rem;
  font-weight: bold;
}

.shop-text .day {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.shop-text .time {
  font-size: 1.3rem;
  padding: 0.2rem 1rem;
  color: #dc2121;
}

/* footer */
footer {
  background: linear-gradient(
    180deg,
    #feaeae 77.08%,
    rgba(255, 185, 185, 0) 100%
  );
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 2.4rem;
}

.footer-content .socials {
  padding: 1rem 0;
}

.footer-content .socials a {
  color: #fff;
  font-size: 2.5rem;
  margin: 2rem;
}

.footer-content .socials a:hover,
.footer-content .links a:hover {
  color: var(--third-color);
}

.footer-content .links {
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
}

.footer-content .links a {
  color: #fff;
  padding: 1rem 2rem;
}

.footer-content .credit {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 103px;
  flex-shrink: 0;
  margin: 15% auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-content {
  width: 60%;
}

/* login page */
#login {
  margin: 2rem 1rem;
}

.login-page {
  background-color: var(--fourth-color);
}

.navbar-login {
  position: relative;
  margin: auto 3.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;

}

.login-title a {
  font-size: 3rem;
  color: white;
  font-family: var(--third-font);
  font-weight: 400;
}

.form-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  margin: 4rem 2rem;
  width: 90%;
  height: 90%;
}

.login-img {
  width: 700px;
  height: 550px;
  text-align: center;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  border-radius: 4px;
  box-shadow: 0 15px 35px var(--second-color);
  width: 400px;
  height: 450px;
  background: var(--main-color);
}

.form-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  font-family: var(--fifth-font);
}

.form-content h2 {
  font-size: 2rem;
  color: white;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputBox,
.payment-box {
  position: relative;
  width: 100%;
}

.inputBox input,
.payment-box input {
  position: relative;
  width: 100%;
  background: white;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: var(--second-color);
  font-weight: 500;
  font-size: 1rem;
}

.inputBox label,
.payment-box label {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: var(--second-color);
  transition: 0.5s;
  pointer-events: none;
}

.inputBox input:focus ~ label, .inputBox input:valid ~ label,
.payment-box input:focus ~ label, .payment-box input:valid ~ label {
  transform: translateY(-7.5px);
  font-size: 0.8em;
}

.inputBox .icon-form {
  position: absolute;
  z-index: 1000;
  right: 0.5rem;
  font-size: 1.5rem;
  padding: 10px 10px;
  color: var(--second-color);
}

.inputBox #showPasswordLogin,
.inputBox #showPasswordRegister {
  cursor: pointer;
}

.form-links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-links a {
  color: var(--second-color);
}

.form-links p {
  font-size: 1rem;
  color: var(--second-color);
}

.inputBox input[type="submit"] {
  padding: 10px;
  background: var(--third-color);
  color: white;
  font-size: 1.35rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active,
button[type="submit"]:active
{
  opacity: 0.6;
}

#signup {
  display: none;
}

/* About us */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 8rem 5rem;
  gap: 5rem;
}

.about-text {
  align-self: center;
}

.about-title {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.about-text p {
  font-size: 2rem;
  font-family: var(--second-font);
  padding: 2rem 0;
}

.about-box {
  width: 40%;
}

.about-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-pic img {
  width: 730px;
  height: 600px;
  flex-shrink: 0;
}

#about-content {
  background: linear-gradient(180deg, #FCCBCB 65.62%, rgba(249, 217, 217, 0.00) 100%);
  margin: 0;
  padding: 2rem 0;
  margin-top: 3rem;
}

.circle-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
  padding-bottom: 8rem;
  margin: 5rem auto;
}

.circle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 250px; 
  height: 250px; 
  background-color: white;
  border-radius: 50%;
}

.circle-content p {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 1.8rem;
  padding-top: 1.5rem;
}

#about-quote {
  margin-top: 4rem;
}

.quote-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-quote {
  font-size: 7rem;
}

.quote {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 2rem;
}

/* Contact us page */
#contact {
  margin: 5rem 8rem;
  font-family: var(--fourth-font);
}
.contact-title {
  font-family: var(--third-font);
  font-size: 4rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.contact-text {
  font-family: var(--second-font);
  font-size: 1.5rem;
}

.contact-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-pic img {
  width: 544px;
  height: 476px;
  flex-shrink: 0;
}

.column-contact {
  width: 50%;
  padding: 1rem 4rem 3rem;
}

.contact-form {
  display: flex;
  margin-top: 10rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.form-group label {
  font-size: 1.5rem;
}

.form-group input {
  width: 90%;
  height: 42px;
  border-radius: 19px;
  background: white;
  color: var(--second-color);
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.form-group textarea {
  width: 90%;
  border-radius: 19px;
  background: white;
  color: var(--second-color);
  border: none;
  outline: none;
  padding: 2rem 1.5rem;
  font-size: 1rem;
}

.contact-form form button {
  width: 90%;
  height: 42px;
  border-radius: 19px;
  background: var(--third-color);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1.5rem;
  cursor: pointer;
}

.contact-form form button[type="submit"]:active
{
  opacity: 0.6;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.location-info,
.call-info,
.email-info {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 1.5rem 3rem;
  font-size: 2rem;
}

.location-info i,
.call-info i,
.email-info i {
  font-size: 3rem;
}

/* Menu Variants */
#variants {
  margin: 4rem 6rem;
  position: relative;
}

.variants-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  margin: 6rem auto;
  width: 100%;
}

.shop-cart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  background: var(--fourth-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.shop-cart i {
  font-size: 1.8rem;
  color: white; 
}

.variants-title {
  font-size: 2.5rem;
  padding-left: 3rem;
}

.variants-box {
  padding: 1rem 0.5rem;
  /* flex: 1; */
  border: 0.1rem solid var(--fourth-color);
  background: var(--fourth-color);
  border-radius: 25px;
  width: 450px;
}

.variants-details {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.variants-pic {
  border: 0.1rem solid white;
  background: white;
  width: 180px;
  height: 213px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.variants-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

.variants-info {
  display: block;
  width: 55%;
  padding: 1.2rem 0;
}

.variants-name {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.variants-text {
  font-family: var(--fourth-font);
  font-size: 1rem;
  color: white;
  margin-bottom: 3rem;
}

.switch-field {
  display: flex;
  margin-bottom: 26px;
  overflow: hidden;
  gap: 1.3rem;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: none;
  overflow: hidden;
  outline: none;
}

.switch-field label {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-right: -1px;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: white;
  border: 0.1rem solid white;
  border-radius: 27px;
}

.variants-price {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 4rem;
}

.price {
  font-size: 1.2rem;
  color: var(--second-color);
  padding-left: 2rem;
}

.btn-price {
  color: #ffffff;
  background-color: var(--second-color);
  border-radius: 27px;
  text-align: center;
  padding: 10px 40px;
  font-size: 1rem;
}

aside {
  display: none;
}

aside.show-aside {
  display: block;
  width: 550px;
  height: 1250px;
  background-color: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  inset-block: 0;
  inset-inline-end: 0;
  margin-top: 12rem;
  transition: all 0.5s ease;
  z-index: 1000;
}

.cartTab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 2rem;
}

.title-cart {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 4rem auto;
}

.title-cart i {
  position: absolute;
  left: 0;
  margin-left: 1rem;
  color: var(--fourth-color);
  font-size: 3rem;
  cursor: pointer;
}

.title-cart h1 {
  font-size: 2rem;
}

.cartTab button {
  background: var(--second-color);
  color: #FFFFFF;
  border-radius: 12px;
  border: none;
  padding: 2rem 3rem;
  margin: 4rem auto;
  font-size: 1.2rem;
  font-family: var(--main-font);
  cursor: pointer;
}

.list-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-cart {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 2rem auto;
  gap: 2rem;
}

.img-item {
  border: 2px solid #292626;
  border-radius: 16px;
  text-align: center;
  width: 120px;
}

.img-item img {
  width: 80px;
}

.item-info {
  line-height: 3;
  font-size: 1.2rem;
}

.item-info .item-price {
  color: var(--second-color);
}

.quantity span {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.price-cart {
  border-radius: 9px;
  background: #EAE8E8;
  padding: 1rem 2rem;
}

.subtotal, 
.total-sales-tax,
.total {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-between;
  line-height: 3;
}

.subtotal span, 
.total-sales-tax span,
.total span {
  color: var(--second-color);
}

.total {
  border-top: 3px dashed;
}

/* payment-page */
.payment-page {
  background-color: linear-gradient(180deg, #FBFFFA 0%, #FFA8A8 89.58%);
}

#payment {
  margin: 10rem 2rem;
}

.payment-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 29px;
  background: #FF8080;
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 31px;
  background: #993E3E;
  width: 50%;
  padding: 2rem;
  margin: 4rem 2rem;
}

.mySlides {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.mySlides img {
  width: 100%; 
  height: auto; 
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1; 
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext,
.text,
.payment-price {
    margin-top: 1rem;
    color: #f2f2f2;
    font-size: 15px;
    width: 100%;
    padding: 0.1rem 1rem;
    font-family: var(--second-font);
}

.text {
  color: #0B0A0A;
}

.itemsDot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1rem 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.payment-details {
  border-radius: 31px;
  background: var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 2rem;
  margin: 4rem 2rem;
  font-family: var(--fourth-font);
}

.payment-box {
  margin: 1rem auto;
}

.payment-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.payment-box label {
  color: #0B0A0A;
}

.payment-box input {
  background: var(--fourth-color);
  color: #0B0A0A;
  border-bottom: 3px solid #0B0A0A;
}

.payment-details form button {
  width: 120px;
  border-radius: 27.5px;
  background: var(--second-color);
  border: none;
  font-size: 1.2rem;
  color: #FFFFFF;
  font-family: var(--main-font);
  padding: 0.5rem 1.7rem;
  margin: 2rem auto;
}

/* payment success */
.success {
  display: none;
  flex-direction: column;
  justify-content: center;
  border-radius: 31px;
  background: #FFF;
  width: 700px;
  margin: 4rem auto;
}

.title-success {
  text-align: center;
  margin: 2rem auto 4rem;
}

.title-success h1 {
  font-family: var(--fourth-font);
  font-size: 1.5rem;
  font-weight: 800;
}

.success i {
  font-size: 5rem;
  color: #70F294;
}

.step-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 3rem;
}

.step-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.step-text {
  line-height: 3;
  font-size: 1.2rem;
  font-family: var(--second-font);
}

.vl {
  border-left: 3px solid #70F294;
  height: 75px;
  margin-left: 2.5rem;
}


/* Responsive */
@media screen and (max-width: 991px) {
  .navbar .nav-wrapper {
    padding: 0 10px;
  }
  .nav-wrapper .navbar-wrapper .nav-list {
    gap: 5px;
  }
  .navbar-wrapper .nav-list .nav-link {
    font-size: 0.9rem;
  }
  .navbar-wrapper .btn-contact {
    padding: 5px 10px;
  }
}
@media screen and (max-width: 768px) {
  .nav-wrapper .navbar-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: block;
    text-align: center;
    padding-bottom: 3rem;
    border-radius: 10px;
    background-color: var(--second-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease-in-out;
  }
  .nav-wrapper .navbar-wrapper.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.5s ease-in-out;
  }
  .nav-wrapper .navbar-wrapper .nav-list {
    display: block;
  }
  .navbar-wrapper .nav-list .nav-item {
    margin: 30px 0;
  }
  .nav-list .nav-item .nav-link {
    color: #ffffff;
  }
  .nav-wrapper .nav-toggle {
    display: initial;
    font-size: 2.5rem;
    color: var(--second-color);
    padding-right: 1.5rem;
  }
}